*{
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(255, 20, 212);
    font-family: 'Rubik';
    font-size: 64px;
    padding-bottom: 2rem;
}
@import './base/variables';
@import './components/index';
@import './components/botones';
@import './components/sobremi';
@import './components/contacto';
@import './components/estudios';
@import './components/experiencia';
@import './components/footer';
@import './base/media';