.main__aboutme{
    padding-top: 5vh;
    .div__holasoy{
        padding-top: 5vh;
    }
    
    .about__meimg{
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .aboutme__adobe{
        padding-top: 2vh;
        padding-bottom: 5vh;

        img{
            width: 10vh;
            padding-top: 5vh;
        }
    }
}